<table>
  <% @applications.each do |application| %>
    <tr data-application>
      <td data-name><%= application.name %></td>
      <td data-status><%= application.current_status %></td>
      <td data-timestamp><%= application.last_updated_at %></td>
    </tr>
  <% end %>
</table>
