table {
  width: 80%;
  margin: 0 auto;

  tr:last-child {
    td {
      border: none;
    }
  }

  td {
    padding: 30px;
    border-bottom: 1px solid #e6e6e6;
    text-align: right;

    &[data-name] {
      width: 60%;
      text-align: left;
      font-weight: bold;
      font-size: 24px;
    }
  }
}
